<p id="notice"><%= notice %></p>

<div class="container main-display">

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
        <div class="card-category">
          <%= link_to cocktail.name, cocktail %>
        </div>
      </div>
    <% end %>
  </div>

</div>